<app-nav></app-nav>
<h1>Notas de estudiantes</h1>

<div class="container">
    <div class="col-sm-12">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
              <th scope="col">Estudiante</th>
              <th scope="col">Materia</th>
              <th scope="col">Nota</th>
            </thead>
            <tbody>
              <tr *ngFor="let nota of notas">
                <td scope="row">{{ nota.estudiante }}</td>
                <td scope="row">{{ nota.materia }}</td>
                <td scope="row">{{ nota.nota }}</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
<app-footer></app-footer>
